<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lav en leje aftale</title>
</head>
<body>

<h1>Lejeaftale</h1>

<form action="/aftaler" method="post">

    <label for="name">Name</label><br>
    <input type="text" name="name"><br>
    <label for="adress">adresse</label><br>
    <input type="text" name="adresse"><br>
    <label for="email">Email</label><br>
    <input type="text" name="email"><br>
    <label for="phoneNumber">Telefon nummer</label><br>
    <input type="text" name="telefonNummer"></br>
    <label for="Steelnumber">Stelnummer</label><br>
    <input type="text" name="stelnummer"><br>
    <label for="Rentalagrements">UdlejningsPeriode</label><br>
    <input type="text" name="UdlejningsPeriode"><br>
    <label for="Price">Pris</label><br>
    <input type="text" name="Price"><br>
    <button> type="Tillykke"> Lej! </button>

</form>
</div>

</body>
</html>