<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lav en leje aftale</title>
</head>
<body>

<h1>Lejeaftale</h1>

<form action="/aftaler" method="post">


    <label for="vehicleNumber">VehicleNumber</label><br>
    <input type="number" name="vehicleNumber"><br>
    <!-- <label for="id">id</label><br>
   <input type="number" name="id"><br>-->
   <label for="name">Name</label><br>
   <input type="text" name="name"><br>
   <label for="email">Email</label><br>
   <input type="text" name="email"></br>
   <label for="phonenumber">PhoneNumber</label><br>
   <input type="number" name="phonenumber"><br>
   <label for="address">Address</label><br>
   <input type="text" name="address"><br>
   <label for="rentalPeriod">RentalPeriod</label><br>
   <input type="text" name="rentalPeriod"><br>
   <label for="price">Price</label><br>
   <input type="number" name="price"><br>

    <form action="ListOfAgreements.html">
        <input type="submit"/>
    </form>

 </div>

 </body>
 </html>