<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rapporter din skade</title>
</head>
<h1>Rapporter skade</h1>
<body>


<form action="/DamageReport" method="post">


    <label for="damageId">DamageId</label><br>
    <input type="number" name="damageId"><br>
    <label for="damageReportDescription">Description</label><br>
    <input type="text" name="damageReportDescription"><br>
    <label for="damageTitle">DamageTitle</label><br>
    <input type="text" name="damageTitle"></br>
    <label for="damagePrice">DamagePrice</label><br>
    <input type="number" name="damagePrice"><br>
    <label for="vehicleNumber">vehicleNumber</label><br>
    <input type="number" name="vehicleNumber"><br>
    <label for="kmTraveledOverLimit">kmTraveledOverLimit</label><br>
    <input type="number" name="kmTraveledOverLimit"><br>
    <label for="totalDamageCost">totalDamageCost</label><br>
    <input type="number" name="totalDamageCost"><br>
    <input type="submit" value="Gem">

</form>
<form action="ListOfDamageReports">
    <input type="submit" value="Se liste med skader">
</form>
</body>
</html>