<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bil udeljning forside </title>

    <link rel="stylesheet" href="index.css">

</head>
<body>
<h1>Velkommen til bilAbonoment</h1>

<form action="index.html" method="get">


</form>

<div id="Baggrund"><img src="Background.png" alt="Background"></div>

<head>

    <p>

    <li><a href="/udvalg">Se udvalg af biler</a></li>
    <li><a href="/aftaler">Lav en lejeaftale</a></li>
    <li><a href="/ListOfAgreements">Lejeaftaler</a> </li>
    <li><a href="/DamageReport">Rapporter en skade</a> </li>
    <li><a href="/ListOfDamageReports">Se liste med skader</a> </li>

    </p>

</head>
</body>
</html>