<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Udvalg af biler</title>
    <link rel="stylesheet" th:href="@{udvalg.css}"  type="text/css">
</head>
<body>
<h1>Vores udvalg af biler</h1>


<table id="carTable">


    <tr>
        <th>vehicleNumber</th>
        <th>FrameNumber</th>
        <th>Make</th>
        <th>Model</th>
        <th>EquipmentLevel</th>
        <th>SteelPrice</th>
        <th>Reg_Charge</th>
        <th>CO2_Emmission</th>
        <th>Status</th>

    </tr>

    <tr
            th:each= "CarlistRepo : ${udvalgt}">

        <td th:text="${CarlistRepo.vehicleNumber}"></td>
        <td th:text="${CarlistRepo.frameNumber}"></td>
        <td th:text="${CarlistRepo.make}"></td>
        <td th:text="${CarlistRepo.model}"></td>
        <td th:text="${CarlistRepo.equipmentLevel}"></td>
        <td th:text="${CarlistRepo.steelPrice}"></td>
        <td th:text="${CarlistRepo.reg_Charge}"></td>
        <td th:text="${CarlistRepo.co2_Emmission}"></td>
        <td><input type="checkbox" id="status" name="status" value="status"></td>



      <!--  <input type="checkbox" id="status" name="status" value="status"> -->
    </tr>
</table>
</form>
<form action="aftaler">
    <input type="submit"/>
</form>

</body>
</html>

