<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Udvalg af biler</title>
    <link rel="stylesheet" th:href="@{style.css}"  type="text/css">
</head>
<body>
<h1>Vores udvalg af biler</h1>

<table>

    <tr
            th:each= "udvalg : ${udvalg}">

        <td th:text="${Bilrepo.getvognnummer}"></td>
        <td th:text="${bilmodel.stelnummer}"></td>
        <td th:text="${bilmodel.getMærke()}"></td>
        <td th:text="${bilmodel.getModel()}"></td>
        <td th:text="${bilmodel.getUdstyrsniveau()}"></td>
        <td th:text="${bilmodel.getStålpris()}"></td>
        <td th:text="${bilmodel.getReg_afgift()}"></td>
        <td th:text="${bilmodel.getCo2_udledning()}"></td>

    </tr>
</table>
</body>
</html>

