<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Udvalg af biler</title>
    <link rel="stylesheet" th:href="@{udvalg.css}"  type="text/css">
</head>
<body>
<h1>Vores udvalg af biler</h1>

<table>

    <tr
            th:each= "Carliste : ${udvalgt}">

        <td th:text="${Carliste.vehicleNumber}"></td>
        <td th:text="${Carliste.frameNumber}"></td>
        <td th:text="${Carliste.make}"></td>
        <td th:text="${Carliste.model}"></td>
        <td th:text="${Carliste.equipmentLevel}"></td>
        <td th:text="${Carliste.steelPrice}"></td>
        <td th:text="${Carliste.reg_Charge}"></td>
        <td th:text="${Carliste.co2_Emmission}"></td>
        <td th:text="${Carliste.status}"></td>

    </tr>
</table>
</body>
</html>

